{% if page.comments != false %}

<div id="container"></div>
<link rel="stylesheet" href="https://imsun.github.io/gitment/style/default.css">
<script src="https://imsun.github.io/gitment/dist/gitment.browser.js"></script>
<script>
var gitment = new Gitment({
  id: 'window.location.pathname', // 可选。默认为 location.href
  owner: 'momoNorthy',
  repo: 'comments',
  oauth: {
    client_id: '00b7747c068305acf6f8',
    client_secret: 'b087e48ab9a6c5ecf2ef2524f04845dd1f762345',
  },
})
gitment.render('container')
</script>
{% endif %}
